name: CI
on:
  push:
    branches:
      - feature/Kaspresso-tests-advanced
jobs:
  build-and-test:
    name: Build and run tests
    runs-on: macos-latest
    steps:
      - name: Checkout current develop branch
        uses: actions/checkout@v1
      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Run unit/instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          arch: x86
          profile: Nexus 6
          avd-name: test
          emulator-options: -no-window -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim
          disable-animations: true
          script: ./gradlew connectedCheck --stacktrace
      - name: Upload test report
          uses: actions/upload-artifact@v2
          with:
            name: instrumentation_test_report
            path: app/build/reports/androidTests/connected/
